---
import Title from "@components/resources/Title.astro";
import InfoCard from "./resources/InfoCard.astro";
import image1 from "/public/src/images/1.webp";
import image2 from "/public/src/images/2.webp";
import image3 from "/public/src/images/3.webp";
---

<section
  id="nosotros"
  class="pb-5 md:pb-10 px-2 scroll-m-[21rem] md:scroll-m-24 max-w-7xl mx-auto"
>
  <Title
    title="¿Quién está detrás de BONNITA?"
    subtitle="Conocenos un poco mejor"
  />

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 *:shadow pt-8">
  <article
    class="flex flex-col gap-4 p-8 bg-secondary/40 dark:bg-rose-200  rounded-xl backdrop-blur-2xl"
  >
    <h2 class="font-semibold text-lg">🌷 Hola, soy Brenda.</h2>

    <p>
      Soy la fundadora de BONNITA y quiero darte la bienvenida a este pequeño
      gran sueño hecho realidad. Todo comenzó con una idea sencilla: que el
      maquillaje no sea solo algo estético, sino una herramienta de amor propio,
      expresión y confianza.
      <p>
        Durante años me formé en el maquillaje, pero siempre lo vi como algo
        superficial, algo que solo es para “momentos especiales” y nada más. Con
        el tiempo fui descubriendo que el maquillaje puede ser un puente para
        descubrirnos por dentro y por fuera. Para conocernos, para pasar un
        momento con nosotras mismas, como hobby y también para tener mas
        seguridad en el dia a dia. ¡Es por eso que quiero compartir esto con
        todas las personas posibles!
      </p>
    </p>
  </article>

  <article
    class="flex flex-col gap-4 p-8 bg-rose-100/60 dark:bg-rose-300 rounded-xl backdrop-blur-2xl"
  >
    <h2 class="font-semibold text-lg">✨ Nuestra historia</h2>
          <p>
        BONNITA nació para acompañarte a conectar con esa versión tuya que
        existe y resalta sin pedir permiso.
      </p>
    <p>
      Lo que hoy es BONNITA empezó desde mi casa, participando en ferias y
      llevando mis productos en bolsitas armadas con cariño a mis amigas. Poco a
      poco, lo que parecía un hobby se convirtió en un propósito: crear una
      marca que inspire y abrace a mujeres como yo. 
      </p>
      <p>Gracias a cada clienta, a
      cada conversación y cada paso (incluso los difíciles), este emprendimiento
      fue creciendo. BONNITA es mi forma de decirte: “vos también podés lograr
      lo que soñás.”
    </p>
  </article>
</div>
  <article
    class="flex flex-col gap-4 p-6 bg-secondary/40 dark:bg-rose-200 rounded-xl backdrop-blur-2xl mt-4 shadow"
  >
    <h2 class="font-semibold text-lg">🌼 Nuestros valores</h2>

    <div class="flex flex-wrap gap-4 justify-center">
      <div class="p-4 gap-1 border border-rose-100 hover:scale-[1.03] cursor-pointer transition lg:max-w-sm  rounded-lg bg-secondary/60 flex flex-col items-center justify-around text-center">
        <h3 class="font-semibold text-primary">Autenticidad</h3>
        <p>
          En BONNITA no
          vendemos productos para alcanzar un ideal hegemónico de belleza, sino
          buscamos resaltar tu identidad.
        </p>
      </div>
      <div class="p-4 gap-1 border border-rose-100 hover:scale-[1.03] cursor-pointer transition lg:max-w-sm  rounded-lg bg-secondary/60 flex flex-col items-center justify-around text-center">
        <h3 class="font-semibold text-primary">Cuidado real</h3>
        <p>
          Desde el armado de cada combo hasta la atención personalizada,
          buscamos que te sientas acompañada y cuidada.
        </p>
      </div>
      <div class="p-4 gap-1 border border-rose-100 hover:scale-[1.03] cursor-pointer transition lg:max-w-sm  rounded-lg bg-secondary/60 flex flex-col items-center justify-around text-center">
        <h3 class="font-semibold text-primary">Amor propio</h3>
        <p>
          El maquillaje no es para ocultar, es para descubrir y abrazar lo que
          ya sos. BONNITA te recuerda que estás completa, incluso sin una gota
          de base.
        </p>
      </div>
      <div class="p-4 gap-1 border border-rose-100 hover:scale-[1.03] cursor-pointer transition lg:max-w-sm  rounded-lg bg-secondary/60 flex flex-col items-center justify-around text-center">
        <h3 class="font-semibold text-primary">Calidez y ternura</h3>
        <p>
          Queremos que cada detalle, desde los stickers hasta el empaque, te dé
          esa sensación de mimo que todas necesitamos.
        </p>
      </div>
      <div class="p-4 gap-1 border border-rose-100 hover:scale-[1.03] cursor-pointer transition lg:max-w-sm  rounded-lg bg-secondary/60 flex flex-col items-center justify-around text-center">
        <h3 class="font-semibold text-primary">Accesibilidad</h3>
        <p>
          Creemos que sentirse bonita no debería ser un lujo. Por eso,
          trabajamos para ofrecer productos de calidad a precios justos.
        </p>
      </div>
    </div>

    <p class="text-center font-semibold text-neutral-700 text-xl">
      “Gracias por ser parte de este sueño. BONNITA existe porque vos estás del otro lado. Con amor, Brenda.”
    </p>
  </article>
  <!--     <article class="flex flex-col mt-5 md:flex-row md:items-center">
      <div
        class="flex flex-col gap-5 bg-rose-200/80 rounded-2xl p-5 pb-24 md:p-10 md:pr-24"
      >
        <p
          class="text-xl md:text-2xl font-semibold text-pretty text-neutral-700 text-center"
        >
        </p>

        <div class="flex flex-col gap-3 text-neutral-600 infoOne">
          <div id="infoOne" class="active-card info-card infoOne">
            <InfoCard title="Maquillate como sos" className="infoOne">
              El maquillaje no es para esconderte, es para mostrarte. Es una
              forma hermosa de decir “acá estoy” sin tener que hablar. Usalo
              como quieras, cuando quieras. Porque no hay reglas cuando se trata
              de ser vos misma.
            </InfoCard>
          </div>

          <div id="infoTwo" class="info-card infoTwo">
            <InfoCard
              title="Sentite segura, todos los días"
              className="infoTwo"
            >
              Sabemos lo lindo que es mirarte al espejo y sonreír. Por eso, cada
              uno de nuestros productos está pensado para acompañarte en esos
              días en que querés romperla, y también en los que solo necesitás
              un mimo.
            </InfoCard>
          </div>

          <div id="infoThree" class="info-card infoThree">
            <InfoCard
              title="Hecho con amor (y experiencia)"
              className="infoThree"
            >
              Llevamos años compartiendo esta pasión con mujeres increíbles como
              vos. Nos mueve ayudarte a brillar y que sientas que el maquillaje
              es más que color: es una herramienta para empoderarte y quererte
              cada día un poquito más.
            </InfoCard>
          </div>
        </div>
      </div>

      <div
        id="image-info"
        data-image-1={image1.src}
        data-image-2={image2.src}
        data-image-3={image3.src}
        class="aspect-video md:aspect-auto m-5 bg-center bg-cover rounded-xl -mt-20 md:min-h-[28rem] md:-ml-16 md:mt-0 md:w-full"
        style=`background-image: url('${image1.src}')`
        title="La empresa"
      >
      </div>
    </article> -->

  <style is:inline>
    .active-card button {
      background-color: #fff6f7;
      border-radius: 0.75rem;
      --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
      --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
        0 1px 2px -1px var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
      color: #1c1c1c;
    }

    .active-card h4 {
      color: #95001c !important;
    }
  </style>

  <script is:inline>
    document.addEventListener("astro:page-load", () => {
      const cards = document.querySelectorAll(".info-card");
      const imageInfo = document.querySelector("#image-info");

      if (cards && imageInfo) {
        const image1 = imageInfo.getAttribute("data-image-1");
        const image2 = imageInfo.getAttribute("data-image-2");
        const image3 = imageInfo.getAttribute("data-image-3");

        cards.forEach((card) => {
          card.addEventListener("click", (e) => {
            cards.forEach((card) => {
              card.classList.remove("active-card");
            });
            card.classList.add("active-card");

            if (e.target.classList.contains("infoOne"))
              imageInfo.style = `background-image: url('${image1}')`;
            if (e.target.classList.contains("infoTwo"))
              imageInfo.style = `background-image: url('${image2}')`;
            if (e.target.classList.contains("infoThree"))
              imageInfo.style = `background-image: url('${image3}')`;
          });
        });
      }
    });
  </script>
</section>
