---
import Title from "@components/resources/Title.astro";
import Card from "@components/resources/Card.astro";
---

<section id="categorias" class="py-5 px-2 scroll-m-80 md:scroll-m-20">
  <Title title="Nuestras categorias" subtitle="Conoce nuestro productos" />

  <article
    class="parent grid grid-cols-1 items-center justify-center flex-wrap py-5 gap-5 md:grid-cols-2"
  >
    {
      Array(6)
        .fill(0)
        .map((_, index) => (
          <div class="card h-[64px] md:h-[144px] animate-pulse" />
        ))
    }
  </article>
</section>

<script>
  document.addEventListener("astro:page-load", () => {
    const urlApi = "https://admin.bonnitaglammakeup.com.ar";
    const parent = document.querySelector(".parent");
    const childrenCount = parent?.children.length;

    if (parent && childrenCount) {
      if (childrenCount % 3 === 0) {
        parent.classList.add("lg:grid-cols-3");
      } else {
        parent.classList.add("lg:grid-cols-2"); // Clase por defecto
        parent.classList.add("2xl:grid-cols-4");
      }
    }

    //Solo para hacer el slug:
    function convertirAStringAmigable(texto: string) {
      let stringAmigable = texto.toLowerCase().replace(/[^a-z0-9\s]/g, "");
      stringAmigable = stringAmigable.replace(/\s+/g, "-");
      stringAmigable = stringAmigable.replace(/-+/g, "-");
      stringAmigable = stringAmigable.replace(/^-+|-+$/g, "");

      return stringAmigable;
    }

fetch(`${urlApi}/api/categories`)
  .then((response) => response.json())
  .then((data) => {
    const categories = data.data;

    // Orden alfabético en español, ignorando mayúsculas/minúsculas y acentos
    categories.sort((a: any, b: any) => 
      a.name.trim().localeCompare(b.name.trim(), 'es', { sensitivity: 'base' })
    );

    if (parent) {
      parent.innerHTML = `
        <a href="/productos" class="card">
          <h3 class="card-title">Todos los productos</h3>
          <span>
            <img src="/src/images/3.webp" alt="Todos los productos" class="card-image">
          </span>
        </a>
      `;
    }

    categories.forEach((category: any) => {
      const slug = convertirAStringAmigable(category.name);
      const url = `/productos?category_slug=${slug}`;

      const card = document.createElement("a");
      card.href = url;
      card.classList.add("card"); // Usamos solo un <a>
      card.innerHTML = `
        <h3 class="card-title">${category.name.trim()}</h3>
        <span>
          <img src="${urlApi}/storage_public/${category.urlImage}" 
               alt="${category.name.trim()}" 
               class="card-image">
        </span>
      `;

      parent?.appendChild(card);
    });
  })
  .catch((error) => {
    console.error("Error al obtener las categorías:", error);
  });
  });
</script>
