---
import "../styles/global.css";
const { title } = Astro.props;
import Header from "../components/Header.astro";
import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";
const description = "Tienda de maquillaje y cosméticos en Salta | Bonnita Glam Makeup";
import logoB from "/public/src/images/logoB.jpg";
import ToastInfo from "@components/resources/ToastInfo.astro";
import ButtonWSP from "@components/resources/ButtonWSP.astro";
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description}>
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <meta property="og:title" content={title}>
    <meta property="og:description" content={description}>
    <meta property="og:image" content={logoB.src}>
    <meta name="twitter:image" content={logoB.src}>
    <ClientRouter />
  </head>
  <body class="flex flex-col justify-between min-h-dvh">
    <div
    class="fixed top-0 h-screen w-full inset-0 -z-10 bg-white dark:hidden [background:radial-gradient(125%_125%_at_50%_10%,#fff6f7_50%,#95001C_100%)]"
  >
  </div>
  <div
    class="fixed top-0 h-screen w-full inset-0 -z-10 items-center px-5 py-24 hidden dark:block [background:radial-gradient(125%_125%_at_50%_10%,#1e1d1d_60%,#95001C_100%)]"
  >
  </div>
  <main class="container mx-auto px-2 ">
    <Header />
      <slot />
  </main>
    <ButtonWSP />
    <Footer />
    <ToastInfo />
  </body>
</html>


<style is:global>
  p {
    text-wrap: pretty;
  }

  @font-face {
    font-family: "Iceberg";
    src: url("/src/fonts/Iceberg.ttf");
  }

  .font-iceberg {
    font-family: "Iceberg";
  }

  @font-face {
    font-family: "Onest";
    src: url("/src/fonts/Onest.ttf");
  }

  .font-onest {
    font-family: "Onest";
  }

  @font-face {
    font-family: "Poppins";
    src: url("/src/fonts/Poppins.ttf");
  }

  .font-poppins {
    font-family: "Poppins";
  }

  @font-face {
    font-family: "Bonita-Losta-bold";
    src: url("/src/fonts/LostaBonita-Bold.ttf");
  }

  .font-bonita-losta-bold {
    font-family: "Bonita-Losta-bold";
  }

  @font-face {
    font-family: "Bonita-Losta";
    src: url("/src/fonts/LostaBonita-Regular.ttf");
  }

  .font-bonita-losta {
    font-family: "Bonita-Losta";
  }

  @font-face {
    font-family: 'Times New Roman', Times, serif;
  }

  .font-times-new-roman {
    font-family: 'Times New Roman', Times, serif;
  }

  
</style>
